# Ignorar carpeta de datos de Jenkins
**/jenkins_home/
jenkins_home/
secrets/
*.log
*.pem

# Ignorar archivos de sistema
.DS_Store
.env

# Terraform
infra/.terraform/
infra/.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Grafana
grafana/data/
prometheus/data/