# Python
venv/
__pycache__/
*.pyc

# Docker
*.log

# Terraform
infra/.terraform/
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform.lock.hcl

# Jenkins
jenkins_home/

# Grafana/Prometheus data
monitoring/grafana/data/
monitoring/prometheus/data/

# Claves
*.pem
*.key
*.tfvars
