version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    environment:
      MONGO_INITDB_DATABASE: appdb
    volumes:
      - ./mongo-init:/docker-entrypoint-initdb.d:ro
      - mongo_data:/data/db
    networks: [appnet]

  backend:
    build: ./backend
    container_name: backend
    environment:
      MONGO_URL: mongodb://mongo:27017
      MONGO_DB: appdb
    depends_on:
      - mongo
    networks: [appnet]

  flutter_web:
    build: ./flutter_app
    container_name: flutter_web
    depends_on:
      - backend
    ports:
      - "8080:80"
    networks: [appnet]

volumes:
  mongo_data:

networks:
  appnet:
    driver: bridge